name: Issues
on:
    issues:
        types: [opened]
jobs:
    info:
        runs-on: ubuntu-latest
        steps:
            - name: Get issue information
              run: |
                echo "Issue Title: ${{ github.event.issue.title }}"
                echo "Issue Body: ${{ github.event.issue.body }}"
                echo "Issue Author: ${{ github.event.issue.user.login }}"
                echo "Issue URL: ${{ github.event.issue.html_url }}"